---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				font-family: var(--font-sans);
			}
			li {
				margin-bottom: 1.5em;
			}
			li a {
				text-decoration: none;
			}
			li a:hover .title {
				color: var(--accent);
			}
			.title {
				color: rgb(var(--black));
				font-size: 1.15em;
				font-weight: 700;
			}
			.date {
				display: block;
				margin-top: 0.2em;
				font-size: 0.9em;
				color: rgb(var(--gray));
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1 class="sr-only">{SITE_TITLE}</h1>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<span class="title">{post.data.title}</span>
									<br />
									<span class="date">
										<FormattedDate date={post.data.pubDate} />
									</span>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
